*{
    margin: 0px;
    padding: 0px;
}
.dev{
    background-color: #333;
    color: white;
    margin: 0 , auto;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px , red;
    transform: translateX(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
h1{
    text-align: center;
}
#btn{
    height: 50px;
    width: 50px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    outline: none;
}
.inp{
    width: 210px;
    font-size: 30px;
}